@font-face {
    font-family: "Monument";
    src: url(./fonts/MonumentExtended-Regular.ttf);
}
@font-face {
    font-family: "Monument";
    src: url(./fonts/MonumentExtended-Ultrabold.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: 'Gilroy', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #F8F8F8;
    padding-top: 0.1px;
}
body{
    background-color: #F8F8F8;
}
#nav{
    height: 11vh;
    width: 100%;
    /* background-color: red; */
    margin-top: 40px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}
#nav h1{
    /* background-color: blue; */
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monument;
    font-size: 40px;
    letter-spacing: -1px;
    position: relative;
}
#nav h1::before{
    content: "model management";
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    font-size: 15px;
    position: absolute;
    letter-spacing: 0.1px;
    color: #666;
    bottom: 13%;
    right: 15%;
}
#nav h3{
    display: none;
}
#nav h1,
#nav h2 {
    height: 100%;
}

#nav h2{
    /* background-color: blue; */
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #000;
    font-size: 23px;
    font-weight: 600;
}
#nav h2:nth-last-child(2){
    width: 29%;
}
#nav h2:nth-last-child(1){
    width: 10%;
}

#center{
    height: 90%;
    width: 100%;
    position: relative;
    padding: 4vw;
}
#content{
    height: 100%;
    width: 100%;
    position: relative;
}
#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#overlay{
    height: 55%;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 3vw;
    color: #fff;
}
#over1{
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-bottom: 2vw;
}
#over1 h1{
    font-family: monument;
    font-size: 3.6vw;
}
#over1 h2{
    font-size: 1vw;
    padding: 2vw 2.1vw;
    border: 2px solid #fff;
    border-radius: 50%;
    border-bottom: 5px solid #fff;
}
#over2{
    align-items: center;
    justify-content: space-between;
    display: flex;
    border-top: 1px solid #fff;
}
#over2 h4{
    font-size: 1.3vw;
    font-weight: 500;
}
#over2 img{
    height: 3vw;
}
#scroll{
    height: 40vh;
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}
#container{
    height: 100%;
    width: 110%;
    display: inline-block;
    padding: 2vw;
    animation-name: anime;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#scroll img{
    height: 95%;
    border-radius: 50%;
    width: 15%;
    margin: 1vw;
    object-fit: cover;
    object-position: top;
}
@keyframes anime{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
#alphabet h5{
    font-size: 1.7vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    border-bottom: 2px solid #000;
    letter-spacing: 4px;
    margin-right: 2vw;
}
#alphabet h6{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 4px;
    padding: 0.5vw 0.7vw;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: all ease-in 0.6;
}
#alphabet h6:hover{
    border: 1px solid #000;
    cursor: pointer;
}
#alphabet{
    height: 11vh;
    width: 100%;
    align-items: center;
    justify-content:center;
    display: flex;
    gap: 1vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
#page2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
}
#part1{
    height: 100%;
    width: 50%;
    background-image: url(https://plus.unsplash.com/premium_photo-1673734625879-2dd5410bc3e1?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
#part2{
    height: 100%;
    width: 46%;
}
#part2 img{
    width: 100%;
    object-fit: cover;
    height: 70%;
    object-position: top;
}
.caption-text {
  font-size: 23px;
  text-align: left;
  margin-top: 100px;
}

.big-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.circular-text img {
  max-width: 400px;
  margin-left: 0 auto;
  display: block;
}
.centerimg{
    width: 75%; max-height: 600px; object-fit: cover;
    object-position: top;
}
#page3{
    height: 100%;
    width: 100%;
    position: relative;
    padding: 5vw 4vw;
    margin-top: 5vw;
}
#page3>h1{
    text-align: center;
    font-family: monument;
    text-transform: uppercase;
    font-size: 3vw;
    font-weight: 700;
    margin-bottom: 7vh;
}
#elem{
    height: 15.5vh;
    width: 100%;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    position: relative;
    transition: all ease ;
}
#elem img{
    height: 110px;
    width: 110px;
    position: absolute;
    border-radius: 50%;
    left: 15%;
    opacity: 0;
    transition: all ease 0.7s;
}
#elem:hover img{
    opacity: 1;
    left: 30%;
}
#elem #elem-part2{
    width: 45%;
}
#elem-part2 h1{
    font-size: 2.7vw;
    font-weight: 500;
}
#elem-part2 h5{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8vw;
}
#elem h4{
    font-size: 1.1vw;
    text-transform: uppercase;
    font-weight: 500;
    width: 6%;

}
#elem:nth-last-child(1){
    border-bottom: 2px solid black;
}
#elem:nth-last-child(3) img{
    object-fit: cover;
}
.page4p1 img{
    height: 70%;
    width: 93%;
    object-fit: cover;
}
.page4p2>h1{
    font-family: monument;
}
.page4p3 img{
    height: 18vw;
    width: 100%;
    object-fit: cover;
}
.page4p4 img{
    height: 18vw;
    width: 80%;
    object-fit: cover;
}
.page4p5 img{
    height: 90%;
    width: 100%;
    object-fit: cover;
}
.page4p6 img{
    width: 75%; max-height: 600px; object-fit: cover;
    object-position: top;
}
.section-custom {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important; 
  max-height: 50vw;
}
.page4p6 img{
    width: 85%; 
    height: 70%;
}
.page4p7>h2{
    font-size: 1.7vw;
}
#marque{
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0.8vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#marque h1{
    display: inline-block;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-text-stroke: 2px black;
    color: transparent;
    font-family: monument;
    letter-spacing: 3px;
    margin-right: 16px;
    animation-name: move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes move{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}
.section-custom3{
    height: 40vh;
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
   
}
.section-custom3 .container,
.section-custom3 .row {
    height: 100%;  /* Make container & row stretch full height */
}

.page4p9{
    border-right: 2px solid black;
    height: 100%;
    align-items: flex-start;
}
.page4p9>h1{
    height: 100%;
    width: 20%;
    right: 1%;
    left: 2%;
    align-items: center;
    justify-content: center;
    font-family: monument;
    font-size: 40px;
    letter-spacing: -1px;
    margin-top: 32px;
    position: relative;
}
.page4p9>h2{
    height: 100%;
    width: 20%;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    letter-spacing: -1px;
    position: relative;
    margin-top: 45px;
    right: 10%;
}
.page4p10{
    border-right: 2px solid black;
    height: 100%;
    align-items:center;
    justify-content: center;
    text-align: center;
    padding-top: 17px;
}
.page4p10 >h2{
    font-size: 25px;
    margin-top: 22px;
}
.page4p11{
    border-bottom: 2px solid black;
}
.page4p11>h2{
    font-size: 18px;
    font-weight: 500;
}
.footer-col{
    position: relative;
    border-right: 2px solid black;
}
.footer-col .page4p11 {
  height: auto;
  border-bottom: 2px solid #000;
  padding-bottom: 1rem;
}
.footer-col .page4p11 h2 { margin: 0; }
.page4p11 {
  border-bottom: 2px solid black; 
}

.page4p11 h2 {
  margin: 0; 
}

